
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <style type="text/css">
        body, html {
            height: 100%;
            margin: 0px;
        }
        #input {
            width: 320px;
            line-height: 30px;
            font-size: 16px;
        }
        #search {
            height: 35px;
            width: 70px;
        }
        #container {
            width: 400px;
            height: 500px;
        }
    </style>
    <title>快速入门</title>
</head>
<body>
    <div>
        <input type="text" id="input" name="input" placeholder="请输入关键词"  value=""/>
        <button type="button" id="search">搜索</button>
    </div>
    <div id="container" tabindex="0"></div>
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.4.4&key=d33feacc8387c706c39b55db996eaebd"></script>
    <script type="text/javascript">
        var map = new AMap.Map('container',{
            resizeEnable: true,
            zoom: 10,
            center: [121.499766, 31.239338],
           // mapStyle: 'amap://styles/whitesmoke'//样式URL
        });
        //for (var i = 0; i < markers.length; i += 1) {
        //    var marker;
        //    if (markers[i].type === 0) {
        //        var icon = new AMap.Icon({
        //            image: 'https://vdata.amap.com/icons/b18/1/2.png',
        //            size: new AMap.Size(24, 24)
        //        });
        //        marker = new AMap.Marker({
        //            icon: icon,
        //            position: markers[i].center.split(','),
        //            offset: new AMap.Pixel(-12, -12),
        //            zIndex: 101,
        //            title: markers[i].name,
        //            map: map
        //        });
        //    } else {
        //        marker = new AMap.Marker({
        //            position: markers[i].center.split(','),
        //            title: markers[i].name,
        //            map: map
        //        });
        //    }
        //}

        //在地图上加多边形
        var polygonpath = [
            [121.350679, 31.125877],
            [121.366579, 31.133775],
            [121.371471, 31.123636],
            [121.355636, 31.119447]
            
        ];
        //var polygonArr = new Array();//多边形覆盖物节点坐标数组
        //polygonArr.push([116.403322, 39.920255]);
        //polygonArr.push([116.410703, 39.897555]);
        //polygonArr.push([116.402292, 39.892353]);
        //polygonArr.push([116.389846, 39.891365]);
        var polygon = new AMap.Polygon({
            map: map,
            path: polygonpath,//设置多边形边界路径
            strokeColor: "#FF33FF", //线颜色
            strokeOpacity: 0.2, //线透明度
            strokeWeight: 3,    //线宽
            fillColor: "#1791fc", //填充色
            fillOpacity: 0.35//填充透明度
        });
    
        map.setFitView();
       
        //工具栏
        AMap.plugin(['AMap.Autocomplete', 'AMap.PlaceSearch','AMap.Geocoder'], function () {
            //var autoOptions = {
            //    city: "北京", //城市，默认全国
            //    input: "input"//使用联想输入的input的id
            //};
            //autocomplete = new AMap.Autocomplete(autoOptions);
            //var placeSearch = new AMap.PlaceSearch({
            //    city: '北京',
            //    map: map
            //});
            var geocoder = new AMap.Geocoder({
                city: "上海"//城市，默认：“全国”
            });
            var marker = new AMap.Marker({
               // map: map,
                bubble: true
            })
            //var button = document.getElementById('search');
            //button.click = function () {
               
            //}
           
            //AMap.event.addListener(autocomplete, "select", function (e) {
            //    //TODO 针对选中的poi实现自己的功能
            //    placeSearch.setCity(e.poi.adcode);
            //    placeSearch.search(e.poi.name)
            //});
            AMap.event.addDomListener(document.getElementById('search'), 'click', function () {
                var address = document.getElementById('input').value;
                geocoder.getLocation(address, function (status, result) {

                    if (status == 'complete' && result.geocodes.length) {
                        marker.setMap(map);
                        marker.setPosition(result.geocodes[0].location);

                        var isIN = polygon.contains(marker.getPosition());
                        alert('点是否在多边形内：' + isIN);

                        map.setCenter(marker.getPosition())
                        map.zoom = 15;
                        // document.getElementById('message').innerHTML = ''
                    } else {

                        //document.getElementById('message').innerHTML = '获取位置失败'
                    }
                });
               
            });
        });
        
    </script>
</body>
</html>