    <!DOCTYPE html>
<html lang="zh-cn">
<head>
   
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no, email=no" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />
    <title>WechatTest</title>
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui-for-work.css" />
</head>
<body ontouchstart>
    <div class="container">
        <div class="weui-cells weui-cells_checkbox">
            <label class="weui-cell weui-check__label" for="s11">
                <div class="weui-cell__hd">
                    <input type="checkbox" class="weui-check" name="checkbox1" id="s11" checked="checked">
                    <i class="weui-icon-checked"></i>
                </div>
                <div class="weui-cell__bd">
                    <p>小米</p>
                </div>
            </label>
            <label class="weui-cell weui-check__label" for="s12">
                <div class="weui-cell__hd">
                    <input type="checkbox" name="checkbox1" class="weui-check" id="s12">
                    <i class="weui-icon-checked"></i>
                </div>
                <div class="weui-cell__bd">
                    <p>华为</p>
                </div>
            </label>
            <label class="weui-cell weui-check__label" for="s13">
                <div class="weui-cell__hd">
                    <input type="checkbox" name="checkbox1" class="weui-check" id="s13">
                    <i class="weui-icon-checked"></i>
                </div>
                <div class="weui-cell__bd">
                    <p>锤子</p>
                </div>
            </label>
            <label class="weui-cell weui-check__label" for="s14">
                <div class="weui-cell__hd">
                    <input type="checkbox" name="checkbox1" class="weui-check" id="s14">
                    <i class="weui-icon-checked"></i>
                </div>
                <div class="weui-cell__bd">
                    <p>魅族</p>
                </div>
            </label>
            <label class="weui-cell weui-check__label" for="s15">
                <div class="weui-cell__hd">
                    <input type="checkbox" name="checkbox1" class="weui-check" id="s15">
                    <i class="weui-icon-checked"></i>
                </div>
                <div class="weui-cell__bd">
                    <p>乐视</p>
                </div>
            </label>
            <a href="javascript:;" class="weui-btn weui-btn_primary">投 票</a>
            <div class="weui-cell" style="position:fixed;bottom:10px;width:100%">
                <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
                    <img src="@ViewBag.UserInfo.avatar" style="width: 50px;display: block">
                </div>
                <div class="weui-cell__bd">
                    <p>@ViewBag.UserInfo.name</p>
                    <p style="font-size: 13px;color: #888888;">@ViewBag.UserInfo.department   @ViewBag.UserInfo.mobile</p>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
  
</body></html>




