@model Model.Article

@{
    Layout = "~/Views/Shared/_ArticleLayout.cshtml";
    ViewBag.Title = "写文章";
}
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
       
        <div class="titleInput">
           <textarea rows="1" class="Input" id="Title" name="Title" placeholder="请输入标题"></textarea>
            
        </div>
        <div id="divTool" class="toolbar"></div>
        <div id="divText" class="textArea"></div>
    </div>
}

<script src="~/Scripts/WangEditor/wangEditor.min.js"></script>
<script type="text/javascript">
    var E = window.wangEditor
    var editor = new E('#divTool','#divText')
    editor.create()
</script>