@{
    Layout = "~/Views/Shared/_ArticleLayout.cshtml";
    ViewBag.Title = "草稿";
}
<div>
    <ul>
        <li>
            <div>
                <a class="Drafts-link" href="#">无标题</a>
            </div>
            <div class="Drafts-meta">
            <time class="Drafts-updated" data-title="2017 年 10 月 26 日星期四下午 09 点 49 分">46 分钟前</time>
                <span class="Bull"></span><span class="Drafts-words">共 0 字</span><span class="Bull"></span>
                <span class="Drafts-removeButton">删除</span>
            </div>
        </li>
        <li>
            <div>
                <a class="Drafts-link" href="#">无标题</a>
            </div>
            <div class="Drafts-meta">
                <time class="Drafts-updated" data-title="2017 年 10 月 26 日星期四下午 09 点 49 分">46 分钟前</time>
                <span class="Bull"></span><span class="Drafts-words">共 0 字</span><span class="Bull"></span>
                <span class="Drafts-removeButton">删除</span>
            </div>
        </li>
        <li>
            <div>
                <a class="Drafts-link" href="#">无标题</a>
            </div>
            <div class="Drafts-meta">
                <time class="Drafts-updated" data-title="2017 年 10 月 26 日星期四下午 09 点 49 分">46 分钟前</time>
                <span class="Bull"></span><span class="Drafts-words">共 0 字</span><span class="Bull"></span>
                <span class="Drafts-removeButton">删除</span>
            </div>
        </li>
    </ul>
</div>