@model IEnumerable<Lo1ita.Model.Article>
@{
    Layout = "~/Views/Shared/_ArticleLayout.cshtml";
    ViewBag.Title = "草稿";
    ViewBag.titleText = "草稿";

}
<div class="Draft-list">
    <ul>
        
                        
                        @if(Model.Count()!=0)
                        {
                            foreach (var item in Model)
                            {
                <li class="Drafts-item">
                    <div class="Drafts-title">
                        @if (string.IsNullOrEmpty(item.Title))
                        {
                            <a class="Drafts-link" href="Edit/@item.ID">无标题</a>
                        }
                        else
                        {
                            <a class="Drafts-link" href="Edit/@item.ID">@item.Title</a>
                        }
                        
                    </div>
                    <div class="Drafts-meta">
                        <time class="Drafts-updated" data-toggle="tooltip" data-placement="bottom" title="@item.UpdateDate.ToString()"><span class="intervslTime"></span>前</time>
                        <span class="Bull"></span><span class="Drafts-words">共 @item.Textlength 字</span><span class="Bull"></span>
                        <span onclick="DeleteArticle(@item.ID)" class="Drafts-removeButton">删除</span>
                    </div>
                </li>
                }
            }
            else
            {
        <li class="Drafts-item">
            <div class="Drafts-title">
                <span class="Drafts-link">暂无草稿</span>
            </div>
        </li>

                }
            

</ul>
</div>
<script>
    $(function () {
        //隐藏标题
        $(".WriteIndex-pageTitle").hide();
        //隐藏发布按钮
        $("#btnPublish").hide();
    })
    //计算相隔时间
    $(".intervslTime").each(function () {
        var updatetime = $(this).parent().attr("title");
        var iDays = GetDateDiff(updatetime, "day");
        if (iDays > 0) {
            $(this).text(iDays+"天");
        }
        else {   //如果时间相隔不足一天，计算相隔小时数
            var iHour = GetDateDiff(updatetime, "hour");
            if (iHour > 0) {
                $(this).text(iHour + "小时");
            }
            else {
                var iMinute = GetDateDiff(updatetime, "minute");
                if (iMinute > 0) {
                    $(this).text(iMinute + "分钟");
                }
                else {
                    var iSecond = GetDateDiff(updatetime, "second");
                    $(this).text(iSecond + "秒");
                }
            }

        }
    })
    //计算两段时间的间隔
    function GetDateDiff(startTime, diffType) {
        //将xxxx-xx-xx的时间格式，转换为 xxxx/xx/xx的格式 
        startTime = startTime.replace(/\-/g, "/");
        //将计算间隔类性字符转换为小写
        diffType = diffType.toLowerCase();
        var sTime = new Date(startTime);   //开始时间
        var eTime = new Date();     //结束时间
        //作为除数的数字
        var timeType = 1;
        switch (diffType) {
            case "second":
                timeType = 1000;
                break;
            case "minute":
                timeType = 1000 * 60;
                break;
            case "hour":
                timeType = 1000 * 3600;
                break;
            case "day":
                timeType = 1000 * 3600 * 24;
                break;
            default:
                break;
        }
        return parseInt((eTime.getTime() - sTime.getTime()) / parseInt(timeType));
    }
    //删除文章
    function DeleteArticle(ID) {

    }
</script>