/*标题栏*/
.titleInput {
    margin:16px 0;
}
.titleInput .Input {
    height: 44px;
    min-height: 44px;
    border: 0;
    width: 100%;
    font-size: 32px;
    line-height: 1.4;
    font-weight: 700;
    display: block;
    outline: none;
    box-shadow: none;
    overflow: hidden;
    font-family: inherit;
    resize: none;
    flex: 1;
    background: transparent;
}
.Input::-webkit-input-placeholder {
    color: #b3b3b3;
}
.navbar-default{
    background:none;
}
/*左侧logo*/
.navbar-brand {
    font-size: 40px;
    font-weight: 700;
    margin: 0 20px;
}
/*顶部 右侧菜单栏*/
.navbar-right > li {
    padding: 10px 0 0 0;
    margin: 0 20px;
}
/*顶部下拉菜单*/
.nav > li > a {
    padding: 0 10px;
}
.nav > li > button {
    width: 82px;
    height: 32px;
    line-height: 30px;
    padding: 0;
}
.publishBtn{
    border-color:#0080ff;
    color:#0080ff;
}
  .publishBtn :hover {
        background-color: rgba(13, 121, 209, .06);
    }

  /*富文本菜单栏*/
.toolbar {
    border-top: 1px solid #e7e7e7;
}
/*富文本菜单项*/
.w-e-toolbar .w-e-menu i {
    color: #b3b3b3;
    font-size: 16px;
}

