<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <link href="~/Content/crowd.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="bg">
            <canvas id="display"></canvas>
            <div id="blachole">
            </div>
            <div>
                <ul class="grid">
                    <li class="ot-letter-left"><span data-letter="L">L</span></li>
                    <li class="ot-letter-left"><span data-letter="o">o</span></li>
                    <li class="ot-letter-left"><span data-letter="1">1</span></li>
                    <li class="ot-letter-left"><span data-letter="i">i</span></li>
                    <li class="ot-letter-left"><span data-letter="t">t</span></li>
                    <li class="ot-letter-left"><span data-letter="a">a</span></li>
                </ul>
            </div>  
        </div>

    </header>
  
    
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/constellation.js"></script>
</body>
</html>