
@{
    ViewBag.Title = "MainPage";
}


    <div id="divContent" class="row clearfix">
        <div class="col-md-8 column">
            <div class="row">
                <div class="col-md-12">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3 class="ContentItem-title">
                                我们都是时光的路人
                            </h3>
                            <div class="RichContent">
                                <div class="RichContent-inner">
                                    <p>
                                        经历了很多事，看过很多花开花落。

                                        于是明白了生命中有些事聚散无常，则有些是半生注定无力更改。曾经一直努力想要改变这个结局，无论怎么拼搏命运的巅峰。像是前世注定的一般让我不得不接受这个，让人厌倦的海洋。我一直以为看过的落花，只要用心呵护便会开花结果。以为用心执着便会一路走过，以为用心珍惜时光会带着绝恋稍作停留。但是我忘了，时光如流水生命如落花。

                                        就像流水一样，此岸流到彼岸。

                                        是一种牵挂也是一种期待，更是一种追求或许人生中只是我们奢求的太多。就像有些东西注定与你无缘无份，你却一直拼命的努力耗尽所有力气去争取。结果到最后什么都没有得到，唯一所能得到的只有回忆与经历。还有为此付出的时光和苦不堪言的伤痛，其余的我们一无所有。很多时候我一直在想，倘若生命从一开始有些感情。不那么用心是不是就可以避免因感情而带来的创伤，无数个黑夜我不止一次的问自己。

                                        为什么一定要如此情深，为什么迟迟不肯卸下包袱。你还要带着那份不属于你的爱走多远，其实你心里很明白。时光已远过客一别，即便是再眷恋十年二十年。时光也不会转身用心情深一场，因为自己不在乎的人多看一眼都是多余。其实你依然很明白不是你不够优秀，也不是你不够好。而是每个人都希望自己能找到一个，称心如意自己所喜欢的另一半。当时经历的时候一直以为，只是时光还不成熟我们都应该长大。长大后才蓦然回首青春与时光是并行的，在经历着青春懵懂的时候，同时也再失去最好的年华。

                                        有时候一直在想，倘若没有经历这一切。

                                        是不是就是一个幸福的人，答案是否定的。

                                        因为有些人没有经历过，就不会知道一起经历的风雨有多珍贵。也更不会知道那一场代价是牺牲了什么，一路走来伤痕累累远去了很多朋友。同时也验证了很多留下来的人，因为这些人都是曾经陪你一起走过风奔过雨的人。时光是一场验证感情的机器，你是一个幸运的人，因为上天安排这一切让你撕心裂肺的经历一场。痛苦流泪的爱一场，伤心欲绝的离别一场。到最后终归平静看尽花开花落，懂得人间聚散是一场缘。

                                        又何尝不是一种恩赐，是的你只有带着这些感恩。

                                        继续前行在未来的路上，而不是将所有的伤痕化为经历。永远记在心里过目不忘，这是时光所不允许的。即便是你在铭记一个世纪又能怎么样，时光会为你而独自倒流。显然是不可能因为走远的人你必须要忘掉，即便是忘不掉也不应该再提起。至少现在是这样因为你还有很多事情要做，不应该一直停留这件没有意义的事上。浪费的只是你更多的年华，所以此去经年当这所有发生的一切。只是一场经历只是一场时光的修行而已，

                                        我们只有修行自己，才会百毒不侵。

                                        我们只有看淡一切才会将所有的陈年往事，被时光风化被流年带走。剩下的只有一颗百毒不侵的意志，意志有多远便会走多远。不会因为生活中的琐事而被判倒，再也不会因为留恋而忘了自己所目睹的一切。看淡了也就有很多事不再去想，因为有很多事我们明明可以拒绝于千里之外，止步流年挥洒心意。

                                        因为我们都是时光的路人。

                                        都有各自的天涯，各自的彼岸。各自的花开。各自的花落，各自的烟火。

                                        繁华一场如若你在何其所幸。如若你来何惧花开！
                                    </p>
                                    
                                </div>
                              
                             
                            </div>
                            
                          
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="thumbnail">
                        <img alt="300x200" src="v3/default4.jpg" />
                        <div class="caption">
                            <h3>
                                Thumbnail label
                            </h3>
                            <p>
                                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                            </p>
                            <p>
                                <a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="thumbnail">
                        <img alt="300x200" src="v3/default4.jpg" />
                        <div class="caption">
                            <h3>
                                Thumbnail label
                            </h3>
                            <p>
                                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                            </p>
                            <p>
                                <a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
         
        </div>
        <div  class="col-md-4 column">
           
                <div class="col-md-12">
                    <div class="thumbnail">

                        <div class="caption">
                            <ul>
                                <li>
                                    <a>
                                        <span>哈哈</span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <span>哈哈</span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <span>哈哈</span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <span>哈哈</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="thumbnail">

                        <div class="caption">
                            <ul>
                                <li>
                                    <a>
                                        <span>哈哈</span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <span>哈哈</span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <span>哈哈</span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <span>哈哈</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
           
        
    </div>
<script>
    $(function () {
        $(".RichContent-inner").each(function () {
            if ($(this).children("p").text().length > 75) {
                $(this).html($(this).text().replace(/\s+/g, "").substr(0, 75) + "...")
                var btnReadMore = '<button class="ContentItem-more">阅读全文<i class="fa fa-chevron-down" ></i></button >';
                $(this).append(btnReadMore);
            }
        })
    });
</script>